.wrapper {
  background: #f6f8fc;
  min-height: 100vh;
}

/* 2 card gần nhau hơn */
.main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1.8rem 1.2rem 3rem;

  display: grid;
  grid-template-columns: 1fr 0.92fr;
  gap: 1.8rem;
}

@media (max-width: 1100px) {
  .main {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
