/* src/pages/Moderator/JlptEventsPage/JlptEventsPage.module.scss */

.wrapper {
  padding: 24px;
}

.header {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.pageTitle {
  margin: 0;
  font-weight: 600;
}

.card {
  border-radius: 12px !important;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.05);
  padding: 0 !important;
}

.actionBtn {
  padding: 0 16px;
  border-radius: 6px !important;
}

:global(.ant-table) {
  border-radius: 12px !important;
}

:global(.ant-table-thead > tr > th) {
  background: #fafafa !important;
  font-weight: 600;
}

:global(.ant-table-tbody > tr:hover > td) {
  background: #f5faff !important;
}
