/* Reset cơ bản */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden; /* chặn scroll ngang */
  font-family: Arial, sans-serif;
}

/* Đảm bảo App chiếm full */
#root {
  display: flex;
  flex-direction: column;
}
