/* TestCard.module.scss */

.card {
  background: #fff;
  padding: 1.6rem 2rem;
  border-radius: 16px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  border: 1px solid #eaeaea;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;

  h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #1d1d1d;
    line-height: 1.4;
  }
}

.levelTag {
  background: #f3f4f6;
  color: #000000;
  padding: 4px 10px;
  border-radius: 40px;
  font-size: 0.75rem;
 
  height: fit-content;
}

/* INFO GROUP: dạng dọc */
.infoGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Từng dòng info */
.infoItem {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #4a4a4a;
  font-size: 0.95rem;

  svg {
    font-size: 1rem;
    color: #2563eb;
  }
}

/* CTA */
.actionBtn {
  margin-left: auto;
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  font-size: 0.95rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.25s ease;

  &:hover {
    background: #1d4ed8;
    transform: translateY(-2px);
  }
}
