#header {
  transition: all 0.3s ease-in-out;
}

#quiz-content {
  h2 {
    font-weight: 600;
  }
}

#sidebar {
  button {
    transition: background-color 0.2s ease;
  }
}

#submit-modal {
  .text-center {
    i {
      color: #737373;
    }
  }
}