.container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 100%;
}

/* Main Record Button */
.recordButton {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  padding: 0.55rem 1.1rem;
  font-weight: 600;
  font-size: 0.9rem;

  background: #f1f5f9;
  color: #0f172a;
  border: 1px solid #d1d5db;
  border-radius: 10px;

  transition: 0.2s ease;
  cursor: pointer;

  &:hover {
    background: #e2e8f0;
  }
}

.recording {
  background: #dc2626 !important;
  border-color: #b91c1c !important;
  color: white !important;
}

/* Waveform */
.waveform {
  display: flex;
  gap: 3px;
  height: 10px;
  opacity: 0.4;
}

.waveform span {
  width: 3px;
  background: #2563eb;
  border-radius: 6px;
  height: 5px;
}

.activeWave span {
  animation: wavePulse 0.9s infinite ease-in-out;
}

@keyframes wavePulse {
  0%,
  100% {
    height: 5px;
  }
  50% {
    height: 14px;
  }
}

/* Player */
.player {
  width: 100%;
  margin-top: 0.4rem;
}
.innerWave {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-left: 8px; /* cách chữ một tí */
  height: 14px;
}

.innerWave span {
  width: 3px;
  height: 6px;
  background: white;
  border-radius: 8px;
  opacity: 0.85;
  animation: innerBeat 0.95s ease-in-out infinite;
}

.innerWave span:nth-child(2) {
  animation-delay: 0.12s;
}
.innerWave span:nth-child(3) {
  animation-delay: 0.24s;
}
.innerWave span:nth-child(4) {
  animation-delay: 0.36s;
}
.innerWave span:nth-child(5) {
  animation-delay: 0.48s;
}

@keyframes innerBeat {
  0%,
  100% {
    height: 6px;
  }
  50% {
    height: 16px;
  }
}
