.hero {
  padding-top: 10px;
}

.row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  font-size: 36px;
  background: #e6edff;
  padding: 16px;
  border-radius: 50%;
  color: #2563eb;
}

.title {
  font-size: 30px;
  font-weight: 700;
}

.subtitle {
  color: #6b7280;
  font-size: 15px;
  max-width: 650px;
}
